/* Определение общих стилей для всего документа */

body {
    font-family: 'Georgia', serif; /* Установка шрифта для текста */
    background-color: #f7f1e3; /* Установка цвета фона */
    color: #2c1e12; /* Установка цвета текста */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем внутренние отступы по умолчанию */
}

/* Стили для областей заголовка, секции и подвала */

header, section, footer {
    margin: 20px; /* Установка отступов */
    background-color: #fff0d9; /* Установка цвета фона */
    padding: 20px; /* Установка внутренних отступов */
    border-radius: 15px; /* Установка скругления углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавление тени */
}

/* Стили для навигационного меню */

nav {
    margin-bottom: 20px; /* Установка отступа снизу */
}

nav a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #8a5d36; /* Установка цвета текста ссылок */
    margin-right: 20px; /* Установка отступа справа */
    transition: color 0.3s ease; /* Анимация цвета при наведении */
}

nav a:hover {
    text-decoration: underline; /* Добавление подчеркивания при наведении */
    color: #6b472c; /* Изменение цвета текста при наведении */
}

/* Стили для заголовков первого и второго уровня */

h1, h2 {
    font-family: 'Cinzel Decorative', cursive; /* Установка шрифта для заголовков */
    color: #8a5d36; /* Установка цвета текста заголовков */
}

/* Стили для подвала */

footer {
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 50px; /* Установка отступа сверху */
    padding: 10px; /* Установка внутренних отступов */
    background-color: #fff0d9; /* Установка цвета фона */
    border-radius: 15px; /* Установка скругления углов */
}

/* Стили для различных блоков и форм */

#categories, #search, #results, #category-content {
    background-color: #f7f1e3; /* Установка цвета фона */
    padding: 20px; /* Установка внутренних отступов */
    border-radius: 15px; /* Установка скругления углов */
    margin-bottom: 20px; /* Установка отступа снизу */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавление тени */
}

/* Стили для списков */

ul {
    list-style: none; /* Убираем стандартные маркеры списка */
    padding: 0; /* Убираем внутренние отступы у списка */
}

li {
    margin-bottom: 10px; /* Установка отступа снизу для элементов списка */
}

/* Стили для текстовых полей и кнопок */

input[type="text"], button {
    padding: 10px; /* Установка внутренних отступов */
    margin: 5px 0; /* Установка внешних отступов сверху и снизу */
}

button {
    cursor: pointer; /* Установка стиля курсора */
    background: linear-gradient(to bottom, #8a5d36, #6b472c); /* Градиентный фон кнопки */
    color: #fff; /* Установка цвета текста кнопки */
    border: none; /* Убираем границу у кнопки */
    border-radius: 5px; /* Установка скругления углов */
    padding: 12px 20px; /* Установка внутренних отступов */
    transition: background 0.3s ease, transform 0.1s ease; /* Анимация фона и масштаба при наведении */
    margin-top: 10px; /* Установка отступа сверху */
}

button:hover {
    background: linear-gradient(to bottom, #6b472c, #8a5d36); /* Изменение градиента фона при наведении */
    transform: scale(1.05); /* Увеличение размера при наведении */
}

/* Стили для выпадающего меню */

.dropdown {
    position: relative; /* Относительное позиционирование */
    display: inline-block; /* Отображение в виде блока с возможностью встроенного содержимого */
}

.dropbtn {
    background-color: #8a5d36; /* Установка цвета фона кнопки */
    color: #fff; /* Установка цвета текста кнопки */
    padding: 10px; /* Установка внутренних отступов */
    border: none; /* Убираем границу у кнопки */
    border-radius: 5px; /* Установка скругления углов */
    cursor: pointer; /* Установка стиля курсора */
}

.dropdown-content {
    display: none; /* Скрываем содержимое выпадающего меню по умолчанию */
    position: absolute; /* Абсолютное позиционирование */
    background-color: #fff0d9; /* Установка цвета фона выпадающего меню */
    min-width: 160px; /* Установка минимальной ширины */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Добавление тени */
    border-radius: 5px; /* Установка скругления углов */
    z-index: 1; /* Установка z-index для выхода поверх других элементов */
}

.dropdown-content a {
    display: block; /* Отображение как блочный элемент */
    padding: 10px; /* Установка внутренних отступов */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #2c1e12; /* Установка цвета текста ссылок */
    transition: background-color 0.3s ease, color 0.3s ease; /* Анимация цвета при наведении */
}

.dropdown-content a:hover {
    background-color: #8a5d36; /* Изменение цвета фона при наведении */
    color: #fff; /* Изменение цвета текста при наведении */
}

.dropdown:hover .dropdown-content {
    display: block; /* Отображение содержимого при наведении на элемент */
}

/* Стили для блока "раса" */

.race {
    border: 1px solid #ccc; /* Установка границы */
    padding: 15px; /* Установка внутренних отступов */
    margin: 10px; /* Установка внешних отступов */
    border-radius: 8px; /* Установка скругления углов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавление тени */
}

/* Стили для изображений в блоке "раса" */

.content .race img {
    max-width: 100%; /* Установка максимальной ширины изображения */
    height: auto; /* Автоматическое вычисление высоты */
    border-radius: 5px; /* Установка скругления углов */
    align-items: center; /* Выравнивание изображения по центру */
}

/* Стили для заголовка "раса" */

.race h3 {
    margin-top: 10px; /* Установка отступа сверху */
    margin-bottom: 5px; /* Установка отступа снизу */
    font-size: 1.5em; /* Установка размера шрифта */
}

/* Стили для текста в блоке "раса" */

.race p {
    color: #555; /* Установка цвета текста */
}

/* Стили для контейнера */

.container {
    max-width: 1200px; /* Установка максимальной ширины контейнера */
    margin: 0 auto; /* Выравнивание по центру */
}

/* Стили для блока "навык" */

.skill {
    border: 1px solid #ddd; /* Установка границы */
    border-radius: 5px; /* Установка скругления углов */
    margin-bottom: 20px; /* Установка отступа снизу */
    padding: 15px; /* Установка внутренних отступов */
}

/* Стили для заголовка блока "навык" */

.skill h3 {
    color: #333; /* Установка цвета текста заголовка */
}

/* Стили для текста в блоке "навык" */

.skill p {
    color: #666; /* Установка цвета текста */
}

/* Стили для таблицы */

.table {
    border-collapse: collapse; /* Схлопывание границ ячеек таблицы */
    width: 100%; /* Установка ширины таблицы */
}

.table th, .table td {
    border: 1px solid black; /* Установка границ ячеек */
    padding: 1px; /* Установка внутренних отступов */
    text-align: center; /* Выравнивание текста по центру */
}

.table th {
    background-color: #f2f2f2; /* Установка цвета фона заголовков */
}

/* Стили для фильтрации классов */

#class-filter {
    padding: 10px; /* Установка внутренних отступов */
    border: 1px solid #8a5d36; /* Установка границы */
    border-radius: 5px; /* Установка скругления углов */
    background-color: #fff0d9; /* Установка цвета фона */
    color: #2c1e12; /* Установка цвета текста */
    margin-bottom: 20px; /* Установка отступа снизу */
    font-size: 16px; /* Установка размера шрифта */
}

#class-filter option {
    background-color: #fff; /* Установка цвета фона опций */
    color: #2c1e12; /* Установка цвета текста опций */
}

/* Стили для уровней заклинаний */

.spell-level {
    margin-bottom: 20px; /* Установка расстояния между уровнями заклинаний */
}

/* Стили для заголовка уровня заклинаний */

.spell-level h3 {
    color: #3366cc; /* Установка цвета текста заголовка */
    font-size: 1.5em; /* Установка размера шрифта заголовка */
    margin-bottom: 10px; /* Установка расстояния между заголовком и заклинаниями */
}

/* Стили для блоков заклинаний внутри уровня */

.spell-level .spell {
    border: 1px solid #ddd; /* Установка границы вокруг каждого заклинания */
    padding: 10px; /* Установка внутренних отступов заклинания */
    margin-bottom: 10px; /* Установка расстояния между заклинаниями */
}

/* Стили для ссылок заклинаний */
.spell-level .spell a {
    color: #009688; /* Цвет ссылки */
    font-weight: bold; /* Жирный шрифт для ссылки */
}

/* Стили для описания заклинаний */
.spell-level .spell p {
    margin-top: 5px; /* Расстояние между ссылкой и описанием */
    color: #666; /* Цвет текста описания */
}

